In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('sentiment analysis.csv', encoding = 'latin-1')

In [8]:
df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1048570,4,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum
1048571,4,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...
1048572,4,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...
1048573,4,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?
1048574,4,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend

In [12]:
columns = ['sentiment','userid', 'time', 'query', 'username', 'text']

In [13]:
df.columns = columns

In [14]:
df.sample(5)

,sentiment,userid,time,query,username,text
421750,0,2062487432,Sat Jun 06 23:22:32 PDT 2009,NO_QUERY,lennlaff17,yesterday was so embarrassing.. i feel pity fo...
239402,0,1980617671,Sun May 31 07:13:57 PDT 2009,NO_QUERY,Genny_Poo,upset about the cavs... anyway.... GO LAKERS!
214402,0,1975229316,Sat May 30 14:43:07 PDT 2009,NO_QUERY,NoteRobot,(@gloomcookie0898) Note to self -don't eat Fib...
930467,4,1760345389,Sun May 10 21:17:08 PDT 2009,NO_QUERY,runfromlions_,@CHOCOLATEthief aren't they SOO good? tomorro...
326194,0,2008050651,Tue Jun 02 13:32:48 PDT 2009,NO_QUERY,GourleyGirl,@Starbucks You discontinued the blended lemona...

In [16]:
df = df.drop(columns = ['userid', 'time', 'query', 'username'])

In [18]:
df.sample(5)

        sentiment                                               text
714172          0  I told my psychiatrist that everyone hates me....
166731          0  @sexxieluv I wanna go to a SexxieLuv party tho...
413256          0  i'm so confussed  i don't know ...what should ...
82671           0  @hazazulaika ur veryyyyyyy lucky   where are y...
751556          0  My brain feels like its running out of heap sp...

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1048575 non-null  int64
 1   text       1048575 non-null  object
dtypes: int64(1), object(1)
memory usage: 16.0+ MB

In [20]:
df.isnull().sum()

sentiment    0
text         0
dtype: int64

In [21]:
import nltk
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [23]:
stemmer = PorterStemmer()
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
doc = re.sub('[^a-zA-Z0-9]', ' ', df['text'][1])
doc = doc.lower()
doc = doc.split()
for word in doc:
    if word not in set(stopwords.words('english')):
        word = stemmer.stem(word)
doc = ' '.join(doc)
#     corpus_.append(doc)
print(doc)

kenichan i dived many times for the ball managed to save 50 the rest go out of bounds

In [25]:
df['text'][1]

'@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [ ]:
corpus_ = []
for i in range(len(df)):
    print(i)
    doc = re.sub('[^a-zA-Z]', ' ', df['text'][i])
    doc = doc.lower()
    doc = doc.split()
    for word in doc:
        if word not in set(stopwords.words('english')):
            word = stemmer.stem(word)
    doc = ' '.join(doc)
    corpus_.append(doc)

In [30]:
def prepocessing(text, stopWords = set(stopwords.words('english')),unique_words_option=True):
    text=text.lower()
    text=text.translate(str.maketrans('', '', string.punctuation))
    text = re.sub(r'\w*\d\w*' , ' ' , text)
    text = re.sub(r'[0-9]' , ' ' , text)
    text = re.sub(r'[^a-zA-Z0-9\s]' , ' ' , text)
    text = re.sub(r'\s+' , ' ', text)
    text = word_tokenize(text)
    text = [i for i in text if i != '']
    text = [i for i in text if i not in stopWords]
    unique_words= set(text)
    unique_words = [word for word in unique_words if len(word) > 3]
    return unique_words